    body{
    background: green;
    }  
    .texto{
        line-height:2px;
        font-size:2rem;
        text-align:center;
    }
    .titulo{
        font-size:3rem;
        text-align: center;
        color:rgb(164, 247, 171)
    }
    .espacamento{
line-height:2px;
    }
    posicao{
        text-align: center;
    }
