    body{
    background:beige;
    }  
    .texto{
        line-height:2px;
        font-size:2rem;
        text-align:center;
    }
    .titulo{
        font-size:3rem;
        text-align: center;
        color:black;
    }
    .espacamento{
line-height:2px;
    }
    posicao{
        text-align: center;
    }
