    body{
    background:beige;
    background-image: url(image\ 10.png);
        line-height:2px;
        font-size:2rem;
        text-align:center;
        color:black;
        font-family: ;
    }
    posicao{
        text-align: center;
    }
